
@{
    ViewBag.Title = "View";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page # 2</title>
</head>
<body>
    <div>

        <h2>View</h2>
    </div>
</body>
</html>