
@{
    ViewBag.Title = "Delete Entry";
}

<h2>@ViewBag.Title</h2>


<div class="alert alert-danger">
    <div class="col-lg-6">

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <label> Date </label>
            </div>
            <div class="col-xs-8 col-sm-9">

                1/1/2016
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <label> Activity </label>
            </div>
            <div class="col-xs-8 col-sm-9">

                BasketBall
            </div>
        </div>

</div>




