
@{
    ViewBag.Title = "Countries Lisitngs";
}

<h2>Countries List</h2>

<input type="button" value="Let's Go!" onclick="location.href='@Url.Action("GetDetails", "Home")'" />


<input type="button" value="Employee List" onclick="location.href='@Url.Action("EmpIndex", "Employee")'" />

@Html.ActionLink("Working Method", "Working", "Home")

@Html.ActionLink("Employee List", "EmpIndex", "Employee")

<ul>
    @foreach (var country in ViewBag.Countries)
    {

        <li> @country  </li>
    }
   




</ul>

<input class="textBox" id="pass" type="text" />
<input type="text" name="Email">


