
@{
    ViewBag.Title = "Countries Lisitngs";
}

<h2>Countries List</h2>

<input type="button" value="Let's Go!" onclick="location.href='@Url.Action("GetDetails", "Home")'" />

<ul>
    @foreach (var country in ViewBag.Countries)
    {

        <li> @country  </li>
    }
   




</ul>




