
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music Store</title>




</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <ul>
        <li class="first"> <a href="/" id="current"> Home</a>  </li>
        <li> <a href="/Store/"> Store </a>  </li>
    </ul>
    <h2>This is the home page</h2>

   


    <div> 
       <p class="dest">   Hello from Home     </p>
        <p class="dest">   U Drew First Blood    </p>
        <p class="dest">   No Way Out!!!     </p>

    </div>
</body>
</html>
