@model IEnumerable<NerdSolo.Models.Dinner>


@{
    ViewBag.Title = "Index";
}


<h2> Upcoming Dinners Page</h2>
<style>
    .mag {
        font-size: 20px;
        color: magenta;
    }
</style>

<ul>

    @foreach (var d in Model)
    {
        <l1>

            @d.Title  (@d.EventDate)
        </l1>
    }

</ul>

<p>
    @*@Html.ActionLink("Create New Dinner", "Create")*@
    <button type="button" class="mag" onclick="location.href='@Url.Action("Create", "Home")'">Create New Dinner</button>
</p>


