@{
    Layout = null;

    var desc = " Final Issue!! Spidey Vs Mysterio!!!";
    var seriesTitle = "The Amazing Spiderman";
    var issNum = 700;




}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Page Dude</title>
</head>
<body>
    <div>
    <h1> @seriesTitle </h1> <br />
        <h1> @desc</h1> <br />
        <h1> Issue #      @issNum </h1>
    </div>
</body>
</html>
