@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Page Dude</title>
</head>
<body>
    <div>
    <h1>Hello there party people</h1>
    </div>
</body>
</html>
