@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Just practicing using MVC and deploying this site to an IIS server.</p>
    <p><a href="http://www.nba.com" class="btn btn-primary btn-lg"> NBA Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Visual Studio IDE is one of the most powerful and feature packed that there is to date!!
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Google.com &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>  We Don't Need No Stinkin' Badges!!!!  </h2>
        <p>We Don't Like Your Hat!!!.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>